#container{
   box-shadow: 0 0 3px rgba(0,0,0,0.1);
    width:360px;
    background: #f7f7f7;
    margin: 100px auto;
}

li:hover{
    cursor:pointer;
}

.completed{
    color: gray;
    text-decoration: line-through;
}
h1{
    background: #2980b9;
    color: white;
    margin: 0;
    padding:10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
