#container{
   box-shadow: 0 0 3px rgba(0,0,0,0.1);
    width:360px;
    background: #f7f7f7;
    margin: 100px auto;
}

li:hover{
    cursor:pointer;
}

.fa-pencil-alt{
    float: right;
}

.completed{
    color: gray;
    text-decoration: line-through;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #CC95C0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li{
    background: #fff;
    height:40px;
    line-height: 40px;
}

li:nth-child(2n){
    background: #f7f7f7;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width:100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
}

span{
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
}

input:focus{
    background-color: #fff;
    border: 3px solid #2980b9;
    outline:none;
}

h1{
    background: #2980b9;
    color: white;
    margin: 0;
    padding:10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
   
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
